:root {
    --main-pink: #f9ecf7;
    --active-link-pink: #EA4C89;
    --black: #000000;
    --dark-green: #009D77;
    --light-green: #F3FCFB;
    --light-pink:#FFF5F9 ;
    --light-purple :#F5EFFC;
    --white: #ffffff;
    --gray: #8992a1;
    --light-gray: #FAFAFB;
    --partnerBg: #f8f8f8;
    --purple: #7c4dff;
    --dashBg: #f9fafb;
    --subtitle : #667085;
    --red: #ff0000;
    --blue :#0000ff;
    --yellow :#FFB100;
    --BgYellow :#FFF8E6;
    --blue :#0000ff;
    --BgBlue :#f5f9ff;





  }


  
.gFont{
    font-family: 'Outfit', sans-serif;

}